# ========================
# Python / Poetry
# ========================
.venv/
__pycache__/
*.pyc

# ========================
# Environment variables
# ========================
.env
.env.*

# ========================
# Allure reports
# ========================
reports/allure-results/
reports/allure-report/

# ========================
# Playwright
# ========================
playwright-report/
test-results/

# ========================
# Node / Frontend
# ========================
node_modules/
dist/

# ========================
# OS / IDE
# ========================
.vscode/
.idea/
.DS_Store
Thumbs.db
